.itemSectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: calc(var(--defaultMargin)*2);
}

.itemSectionHeader {
    margin: var(--defaultMargin) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itemSectionTitle h2 {
    margin-bottom: 0.2em;
}
.itemSectionTitle img{
    height: 1em;
    margin-left: calc(var(--defaultMargin)/-2);
}