.itemSectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: calc(var(--defaultMargin)*2);
}

.itemSectionHeader {
    margin: var(--defaultMargin) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
