.product-card__image-cont{
    overflow: hidden;
    border-radius: var(--borderRadiusSmall);
}
.product-card {
cursor: pointer;
}
.product-card > *{
    margin-bottom: calc(var(--defaultMargin)/5);
}

.product-card p{
    color: var(--colorSecondary);
}

@media only screen and (max-width: 768px) {
    .product-card h3 {
        font-size: var(--fontSize-small);
    }

    .product-card p {
        font-size: var(--fontSize-small);
    }
}