.productCardContainer * {
    margin-bottom: calc(var(--defaultMargin)/5);
}

.productCardContainer img {
    max-width: 13em;
}

.productCardContainer h3{
    transition: 0.2s ease;
}

.productCardContainer h3:hover {
    transform: scale(1.1);
}
.productCardContainer p{
    color: var(--colorSecondary);
}