.product-card__image-cont{
    overflow: hidden;
    border-radius: var(--borderRadiusSmall);
}
.product-card {
cursor: pointer;
}
.product-card > *{
    margin-bottom: calc(var(--defaultMargin)/5);
}

.product-card p{
    color: var(--colorSecondary);
}