.categoryCardContainer {
    position: relative;
    /* Add any other styles needed for flex items */
}

.categoryCardImageContainer {
    height: 13em;
    width: 13em;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryCardContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.categoryCardContainer h3 {
    position: absolute;
    /* Add padding, background, color, etc., as needed for visibility */
}



/*card: {*/
/*    backgroundColor: 'gray',*/
/*    borderRadius: borderRadiusSmall,*/
/*    marginBottom: pageMargin,*/
/*    overflow: 'hidden',*/
/*    display: 'flex',*/
/*    justifyContent: 'center',*/
/*    alignItems: 'center'*/

/*},*/
/*text: {*/
/*...gStyle.basicLarge,*/
/*zIndex: 10,*/
/*fontFamily: 'Inter_600SemiBold',*/
/*textTransform: 'capitalize'*/
/*},*/
/*img: {*/
/*    width: '100%',*/
/*    height: '100%',*/
/*    objectFit: 'cover',*/
/*    zIndex: 0,*/
/*    position: 'absolute'*/
/*},*/
/*overlay: {*/
/*    backgroundColor: 'rgba(0,0,0,0.5)',*/
/*    width: '100%',*/
/*    height: '100%',*/
/*    zIndex: 5,*/
/*    position: 'absolute'*/
/*}*/
