@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Font */
    font-family: "Inter";
    --fontSize-small: 0.833rem ;
    --fontSize-regular: 1rem;
    --fontSize-medium: 1.25rem;
    --fontSize-large: 1.563rem;
    --fontSize-extralarge: 1.953rem;

    /* Variables */
    --backGroundColor: #000F1E;
    --backGroundColorTwo: #152331;
    --colorInput: #47596A;
    --colorPlaceholder: #CCC;
    --colorPrimary: #017AFE;
    --colorSecondary: #FFDF01;

    --defaultMargin: 40px;
    --pageMargin: 15vw;
    --borderRadiusSmall: 6px;
    --borderRadiusBig: var(--defaultMargin);
}

body {
    background-color: var(--backGroundColor);
    color: white;
}

h1 {
    font-size: var(--fontSize-extralarge);
}

h2 {
    font-size: var(--fontSize-large);
}

h3 {
    font-size: var(--fontSize-medium);
}

p {
    font-size: var(--fontSize-regular);
}

.image-cont--hover {
    aspect-ratio: 1/1;
    /* a make-shift solution */
}

.image-cont--hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.image-cont--hover img:hover {
    transform: scale(1.1);
}

.title--hover {
    transition: 0.2s ease;
    display: block;
    width: fit-content;
    cursor: pointer;
}

.title--hover:hover {
    transform: scale(1.1);
}

.slide__arrow {
    fill: white;
}

.slide__arrow {
    cursor: pointer;
    transition: 200ms ease-out;
}

.slide__arrow:hover {
    transform: scale(1.2);
}

.slide__arrow.disabled {
    opacity: 0.1;
}