.price-tag {
    position: relative;
    width: fit-content;

}

.price-tag__img {
    user-select: none;
}

.price-tag__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.price-tag__secondary-text {
    font-size: var(--fontSize-regular);
    position: absolute;
    margin-left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    width: 4ch;
}

/* .price-tag__text::after {
    content: "€";
} */