.nav {

    --height: 5em;

    width: 100%;
    height: var(--height);
    position: 'relative';
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-content: center;
    justify-items: center;
    padding: calc(var(--defaultMargin) / 2) var(--defaultMargin);
    z-index: 1000;
}

/* placeholder only applies on mobile device */
.nav,
.nav__placeholder {
    background-color: var(--backGroundColorTwo);
}

.nav__logo-cont {
    justify-self: flex-start;
    align-self: center;
    height: 2em;
    position: 'relative';
}

.nav__logo {
    height: 100%;
}

.nav__icon img,
.nav__logo-cont img {
    transition: 0.2s ease;
}

.nav__icon:hover img,
.nav__logo-cont:hover img {
    transform: scale(1.1);

}

.nav__icon-cont {
    justify-self: flex-end;
    align-self: center;
    display: flex;
    gap: var(--defaultMargin);
}

.nav__icon.burger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        grid-template-columns: 1fr;
        padding: var(--defaultMargin) var(--pageMargin);
        height: auto;
        grid-row-gap: var(--defaultMargin);
        /* overflow: hidden; */
    }

    .nav,
    .nav__placeholder {
        border-bottom-left-radius: calc(var(--borderRadiusSmall)*2);
        border-bottom-right-radius: calc(var(--borderRadiusSmall)*2);
    }

    .nav.scrolling {
        grid-template-columns: 2fr 1fr;
    }

    .nav__icon-cont {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .nav__icon.burger {
        z-index: 102;
        display: unset;
        background: transparent;
        border: none;
        transition: transform 0.1s ease-out;
    }

    .nav__icon.burger:active {
        transform: scale(0.90);
    }

    .nav__logo {
        width: calc(100vw - (2*var(--pageMargin)));
        height: auto;
    }

    .nav.scrolling .nav__logo {
        /* width: 50% ; */
        transform: translateX(-46.028%);
    }


    .nav__logo-cont {
        height: auto;
        overflow: hidden;
    }
}