.nav {

    --height: 5em;

    width: 100%;
    height: var(--height);
    position: 'relative';
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-content: center;
    justify-items: center;
    padding: calc(var(--defaultMargin) / 2) var(--defaultMargin);
    z-index: 1000;
}
/* placeholder only applies on mobile device */
.nav, .nav__placeholder {
    background-color: var(--backGroundColorTwo);
}

.nav__logo-cont {
    justify-self: flex-start;
    align-self: center;
    height: 2em;
    position: 'relative';
}

.nav__logo {
    height: 100%;
}

.nav__menu {
    list-style: none;
    display: flex;
    gap: calc(var(--defaultMargin)*2);
    align-items: center;

    font-size: var(--fontSize-regular);
    font-weight: 600;
}

.nav__menu__sub-menu {
    display: none;
    position: absolute;
    background-color: rgb(18, 18, 59);
    top: calc(100% + (var(--defaultMargin) / 2));
    left: 50%;
    transform: translateX(-50%);
    padding: calc(var(--defaultMargin)) var(--defaultMargin);
}

.nav__menu li {
    position: relative;

}

.nav__menu__sub-menu a {
    display: block;
    margin: var(--defaultMargin);
}

.nav__menu a {
    color: white;
    text-decoration: none;
}

.nav__menu li:hover .nav__menu__sub-menu {
    display: block;
}

.nav__menu li,
.nav__icon img,
.nav__logo-cont img {
    transition: 0.2s ease;
}

.nav__menu li:hover,
.nav__icon:hover img,
.nav__logo-cont:hover img {
    transform: scale(1.1);

}

.nav__icon-cont {
    justify-self: flex-end;
    align-self: center;
    display: flex;
    gap: var(--defaultMargin);
}
.nav__icon.burger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        grid-template-columns: 1fr;
        padding: var(--defaultMargin) var(--pageMargin);
        height: auto;
        grid-row-gap: var(--defaultMargin);
        overflow: hidden;
    }

    .nav, .nav__placeholder {
        border-bottom-left-radius: calc(var(--borderRadiusSmall)*2);
        border-bottom-right-radius: calc(var(--borderRadiusSmall)*2);
    }

    .nav.scrolling {
        grid-template-columns: 2fr 1fr;
    }

    .nav__icon-cont {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .nav__menu {
        display: none;
    }
    .nav__icon.burger {
        display: unset;
        background: transparent;
        border: none;
    }
    .nav__logo {
        width: calc(100vw - (2*var(--pageMargin)));
        height: auto;
    }

    .nav.scrolling .nav__logo {
        /* width: 50% ; */
        transform: translateX(-46.028%);
    }


    .nav__logo-cont {
        height: auto;
        overflow: hidden;
    }
}