.products-page {
    margin-top: var(--defaultMargin);

}

.products-page .blob__children-cont {
    height: 20rem;
}

.products__breadcrumbs {
    margin-bottom: calc(var(--defaultMargin) * 3);
    min-height: 3rem;
}

@media only screen and (max-width: 768px) {
    .products__breadcrumbs {
        margin-bottom: 0;
        min-height: unset;
    }
}