.blob {
    /* background-color: pink; */
    min-height: 25em;
    position: relative;
    margin: 0 calc(var(--pageMargin) * 0.5);
    background-color: var(--backGroundColorTwo);
    padding: 0 calc(var(--pageMargin) * 0.5);
    margin-top: 4rem;
    border-bottom-left-radius: var(--borderRadiusBig);
    border-bottom-right-radius: var(--borderRadiusBig);
    margin-bottom: calc(var(--defaultMargin) * 3)
}

.blob__background {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 10;
    user-select: none;
    /* height: 100%; */
}

.blob__children-cont {
    margin-top: -2em;
    position: relative;
    z-index: 20;
}